* {
	margin: 0;
}

.mainGallery {
	display: flex;
	flex-direction: row;
	margin-top: 58px;
	justify-content: center;
}

.columns {
	display: flex;
	flex-direction: column;
	width: 20.33%;
	min-height: 20px;
	margin-left: 9px;
	margin-right: 9px;
	background-color: rgb(0, 0, 0, 0.1);
}

.image {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden; /* Dodano kako bi animacija bila glatka */
	margin-bottom: 12px;
	transition: all 0.5s ease;
}

.overlay p {
	margin: auto auto 30px 30px;
	font-weight: bolder;
}

.edit{
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 3px;
	right: 3px;
	color: rgb(214, 214, 214);
	font-size: 4px;
	padding: 13px;
	z-index: 2;
}

.edit i{
	margin: 1.5px;
	text-shadow: 1px 1px 2px black;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 4px);
	background: linear-gradient(
		rgb(0, 0, 0, 0),
		rgb(0, 0, 0, 0.2),
		rgb(0, 0, 0, 0.6)
	);
	color: rgb(255, 255, 255, 1);
	border-radius: 5px;
	overflow: auto;
	opacity: 0;
	transition: all 0.5s ease;
	display: flex;
}

.image:hover .overlay {
	display: flex;
	opacity: 1;
	cursor: pointer;
	transition: all 0.5s ease;
}

img {
	width: 100%;
	border-radius: 5px;
}

.sequenceNum{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 32px;
	font-size: 1.2rem;
	background-color: rgba(255, 255, 255, 0.9);
	color: rgb(29, 29, 29);
	border-bottom-right-radius: 38px;
	padding: 6px 0px 7px 8px;
	font-weight: bold;
}

/* ---------------------- HOVER ---------------------- */

.edit:hover{
	color: rgb(255, 255, 255);
	cursor: pointer;
}

/* ---------------------- RESPONSIVE ---------------------- */

@media (max-width: 1920px) {
	.mainGallery {
		margin-top: 44px;
	}

	.columns{
		width: 27.33%;
	}
}

@media (max-width: 1480px) {
	.mainGallery {
		margin-top: 30px;
	}

	.columns{
		width: 41.5%;
	}
}

@media (max-width: 800px) {
	.mainGallery {
		margin-top: 14px;
	}

	.columns{
		width: 85%;
	}

	.overlay p {
		margin: auto auto 20px 20px;
		font-size: 0.9rem;
	}
}

#videoGalerija{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.video-container{
	position: relative;
	width: 100%;
	margin-top: 30px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.video-header{
	margin: 27px auto 27px 43px;
	font-size: 1.8rem;
	/* tekst neka bude all caps */
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.iframe-parent{
	position: relative;
	padding-bottom: 56.25%;
	width: calc(100% - 88px);
	border-radius: 1rem;
}

.video-description{
	margin: 33px auto 33px 43px;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.2rem;
	font-weight: bolder;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.video-iframe{
	border-radius: 0.8rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
	/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

/* ---------------------- RESPONSIVE ---------------------- */

@media (max-width: 1480px) {
	.mainGallery {
		margin-top: 30px;
	}

	.video-header{
		font-size: 1.4rem;
		margin: 20px auto 20px 30px;
	}

	.iframe-parent{
		border-radius: 12px;
		width: calc(100% - 60px);
	}

	.video-description{
		margin: 20px auto 20px 30px;
		font-size: 1rem;
	}

	#videoGalerija{
		width: 85%;
	}
}

@media (max-width: 800px) {
	.mainGallery {
		margin-top: 14px;
	}

	#videoGalerija{
		width: 90%;
	}

	.video-header{
		font-size: 1.2rem;
		margin: 15px auto 15px 22px;
	}

	.iframe-parent{
		border-radius: 15px;
		width: calc(100% - 44px);
	}

	.video-description{
		margin: 15px auto 15px 22px;
		font-size: 0.9rem;
	}
}

@media (max-width: 500px) {
	#videoGalerija{
		width: 95%;
	}
}