* {
	margin: 0;
}

.mainGallery {
	display: flex;
	flex-direction: row;
	margin-top: 58px;
	justify-content: center;
}

.columns {
	display: flex;
	flex-direction: column;
	width: 20.33%;
	min-height: 20px;
	margin-left: 9px;
	margin-right: 9px;
	background-color: rgb(0, 0, 0, 0.1);
}

.image {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden; /* Dodano kako bi animacija bila glatka */
	margin-bottom: 12px;
	transition: all 0.5s ease;
}

.overlay p {
	margin: auto auto 30px 30px;
	font-weight: bolder;
}

.edit{
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 3px;
	right: 3px;
	color: rgb(214, 214, 214);
	font-size: 4px;
	padding: 13px;
	z-index: 2;
}

.edit i{
	margin: 1.5px;
	text-shadow: 1px 1px 2px black;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 4px);
	background: linear-gradient(
		rgb(0, 0, 0, 0),
		rgb(0, 0, 0, 0.2),
		rgb(0, 0, 0, 0.6)
	);
	color: rgb(255, 255, 255, 1);
	border-radius: 5px;
	overflow: auto;
	opacity: 0;
	transition: all 0.5s ease;
	display: flex;
}

.image:hover .overlay {
	display: flex;
	opacity: 1;
	cursor: pointer;
	transition: all 0.5s ease;
}

img {
	width: 100%;
	border-radius: 5px;
}

.sequenceNum{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 32px;
	font-size: 1.2rem;
	background-color: rgba(255, 255, 255, 0.9);
	color: rgb(29, 29, 29);
	border-bottom-right-radius: 38px;
	padding: 6px 0px 7px 8px;
	font-weight: bold;
}

/* ---------------------- HOVER ---------------------- */

.edit:hover{
	color: rgb(255, 255, 255);
	cursor: pointer;
}

/* ---------------------- RESPONSIVE ---------------------- */

@media (max-width: 1920px) {
	.mainGallery {
		margin-top: 44px;
	}

	.columns{
		width: 27.33%;
	}
}

@media (max-width: 1480px) {
	.mainGallery {
		margin-top: 30px;
	}

	.columns{
		width: 41.5%;
	}
}

@media (max-width: 800px) {
	.mainGallery {
		margin-top: 14px;
	}

	.columns{
		width: 85%;
	}
}
